html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: start;
}

/** SIDEBAR **/

.sidebar {
  height: 100%;
  position: fixed;
  background-color: rgb(0, 0, 118);
  color: white;
  padding: 15px;
  width: 200px;
}

.sidebar ul {
  list-style: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  margin-left: -14px;
  margin-top: 20px;
}

.sidebar ul li {
  margin-bottom: 20px; /* Adds spacing between list items */
}

.sidebar img {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
  border: 4px solid white;
  transition-duration: 0.1s;
  cursor: pointer;
}

.sidebar img:hover {
  border: 8px solid white;
}

.sidebar .nav-button {
  width: 229px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(69, 81, 255);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.sidebar .nav-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(69, 81, 255);
}

.sidebar .button.active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 118);
  font-weight: bold;
}

/** MAIN CONTENT **/

.cover-photo {
  background-image: url("../img/cover-photo.jpeg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: -300px;
}
.main-content {
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-left: 300px;
}

.main-content main {
  max-width: 60%;
}

.main-content h1,
.main-content h2,
.main-content p {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: left;
}

.main-content h1 {
  font-size: 50px;
}

.main-content p {
  margin-right: 0px;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** allow space at bottom when last section is clicked **/
#contact-section::after {
  content: "";
  display: block;
  height: 100vh; /* Adjust the height as needed */
  visibility: hidden;
}

/** RESPONSIVENESS **/

.hamburger-menu {
  display: none;
  background-color: #333;
  text-align: left; /* Align the hamburger icon to the left */
  padding: 10px;
  position: fixed;
  top: 0;
  /* width: 100%; */
}

#hamburger-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Mobile devices (up to 568px) */
@media (max-width: 568px) {
  .hamburger-menu {
    display: block; /* Show hamburger icon on mobile */
  }

  .sidebar,
  .avatar,
  .cover-photo {
    display: none; /* Hide navigation menu by default on mobile */
  }

  .sidebar {
    z-index: 10; /* Ensure the hamburger menu is on top */
  }

  .main-content {
    margin-left: 100px; /* Remove the left margin */
  }

  .main-content main {
    max-width: 80%;
  }
}
